# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Log files
*.log

# Visual Studio files and directories
*Debug
*Release

# Build tree
*build

